%h2 レッスン詳細ページ
%p 
  開始時間:
  = l @lesson.started_at
%p 講師: #{@lesson.teacher.name}
- if @lesson.content.present?
  %p --講義内容--
  %p= @lesson.content
%p= @lesson.zoom_url
= link_to '編集', edit_teachers_lesson_path
