%h2 #{Date.current.month}月の時間別予約率表
%p ※赤色 → 予約率86%以上
%p ※桃色 → 予約率51〜85%
%p ※青色 → 予約率50%以下
%p ※レッスンの予定がない場合"--"
%table
  %th
  - dates_in_this_month.each do |date|
    %th= date.day
  - time_range.each do |time|
    %tr
      %td= time
      - dates_in_this_month.each do |date|
        - time_reservation_rate = reservation_rate(Lesson.for_time(date.in_time_zone + time.hours))
        - if time_reservation_rate == '--'
          %td= time_reservation_rate
        - elsif time_reservation_rate >= 86
          %td.high= time_reservation_rate
        - elsif time_reservation_rate <= 50
          %td.low= time_reservation_rate
        - else
          %td.middle= time_reservation_rate
