%h2 レッスン一覧
= form_with(url: students_lessons_path, method: :get) do |f|
  = f.text_field :teacher_name, placeholder: '--講師名--'
  = f.select :language_id, languages_option, include_blank: '---言語--'
  = f.date_field :date
  = f.submit '検索'

- @lessons.each do |lesson|
  %p= l lesson.started_at
  %p
    講師: #{lesson.teacher.name} / 言語:
    = i18n_language_name(lesson.teacher.language.name)
  = render 'students/lesson_reservations/reservation_form', lesson: lesson
= paginate @lessons
